<!--
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <ng-content select=".item1"></ng-content>
    </li>
    <li class="list-group-item">
      <ng-content select=".item2"></ng-content>
    </li> 
    <li class="list-group-item">
      <h2>
        <ng-content select=".item3"></ng-content>
      </h2>
    </li>
  </ul>
</div>
-->

<p class="fas fa-heart" [class.highlighted]="isLiked"  (click)="onClick()"></p>
{{ likesCount }}