<h1>Angular</h1>
<!--<courses>Courses</courses>
<app-course></app-course>

<authors></authors>

<app-like-example>
    <div class="item1">
        <h1>Prashant</h1>
        <p>This is an example</p>
    </div>
    <p class="item2">Dhanunjaya</p>
    <ng-container class="item3">Kamala</ng-container>
</app-like-example>


<app-like-example 
    [isLiked]="tweet.isLiked" 
    [likesCount]="tweet.likesCount" 
    (change)="onClicked()">
</app-like-example>



<app-post-example></app-post-example>

-->

<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <app-followers-exercise></app-followers-exercise> -->